.chosen-main{
  margin-top: 30px;
}

.chosen-title{
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-family: cursive;
  font-weight: 500;
  font-size: 22px;
}
.chosen-block{
  height: 300px;
  position: relative;
}

.chosen-subtitle{
  padding-top: 8px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-family: cursive;
  font-weight: 400;
  font-size: 18px;
}

.chosen-member{
  padding-left: 30px;
  margin-top: 10px;
  font-family: cursive;
  font-size: 16px;
}
